* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: #9DB7CF;
    font-family: 'Josefin Slab', serif;
    color: rgba(29, 27, 25, 1);
}
.container {
    max-width: 1440px;
    background: #F1EAE4;
}
header {
    max-width: 95%;
    padding: 40px 65px 20px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    font-size: 17px;
}
header h1 {
    font-size: 53px;
}
.nav {
    display: flex;
    gap: 15px;
}
.nav a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
.nav h2:hover, .menu h2:hover {
    text-decoration: underline;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.number p {
    position: absolute;
}
.page-1 {
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}
.page-1-text {
    font-size: 18px;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-1-text a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1)
}
.page-1-text h1 {
    font-size: 63px;
    padding: 25px 0px 35px 0px;
}
.page-1-text h2:hover {
    text-decoration: underline;
}
.page-2 {
    padding-bottom: 15%;
}
.page-2-title {
    padding: 0px 65px 70px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-2-title a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
.page-2-title h1 {
    font-size: 50px;
}
.page-2-title h2 {
    font-size: 20.18px;
}
.page-2-title h2:hover {
    text-decoration: underline;
}
.page-2-gallery {
    height: 1200px;
    display: flex;
    justify-content: space-around;
}
.page-2-gallery a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
.photo-2 img:hover, .photo-3 img:hover, .photo-4 img:hover {
    opacity: 0.6;
    transition: 0.5s;
}
.photo-3 {
    align-self: flex-end;
}
.page-2-gallery h3 {
    padding-bottom: 15px;
    font-size: 22px;
}
.page-2-gallery h4 {
    color: rgba(29, 27, 25, 0.72);
    font-size: 20px;
}
.page-3 {
    height: 850px;
    padding-bottom: 20%;
    display: flex;
    justify-content: space-around;
}
.page-3-text {
    align-self: center;
}
.page-3-text a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:rgba(29, 27, 25, 1)
}
.page-3-text h1:hover {
    text-decoration: underline;
}
.page-3-text h1 {
    padding-bottom: 15%;
    font-size: 56px;
    text-align: center;
}
.page-3-text a:last-child {
    padding: 0;
}
.double-necklace {
    align-self: flex-start;
}
.triple-necklace {
    align-self: flex-end;
}
.page-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20%;
}
.page-4-text {
    max-width: 45%;
    display: flex;
    flex-direction: column;
}
.page-4-text h1 {
    font-size: 50px;
}
.page-4-text h2 {
    padding: 10% 0;
    font-size: 27px;
}
.page-4-text h3 {
    font-size: 20px;
}
.page-4-text a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
.page-4-text h3:hover {
    text-decoration: underline;
}
.page-4 img {
    border-radius: 500px 500px 0 0;
}
.page-5 {
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-5 img {
    max-width: 48px;
}
.page-5 h1 {
    font-size: 50px;
    padding: 40px 0 150px 0;
}
.newsletter {
    padding: 1%;
    width: 50%;
    border-bottom: 1px solid rgba(29, 27, 25, 1);
    display: flex;
}
form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form input {
    padding: 2%;
    font-size: 22px;
    background-color: #F1EAE4;
    border: none;
    outline: none;
}
#email {
    width: 75%;
}
#subscribe-button:hover {
    cursor: pointer;
}
.subscribe {
    display: flex;
    gap: 10%;
}
.subscribe:hover img{
    padding-left: 10%;
    transition: 1s;
}
.page-6 {
    padding-bottom: 7%;
    border-bottom: 1px solid rgba(29, 27, 25, 1);
}
.page-6-text {
    display: flex;
    justify-content: center;
    align-content: center;
}
.page-6-text a {
    padding: 0 2%;
    font-size: 50px;
    text-decoration: none;
    color: rgba(29, 27, 25, 1);
}
.page-6-gallery {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.page-6-gallery img {
    max-width: 100%;
}
.insta-photo-1:hover, .insta-photo-2:hover, .insta-photo-3:hover {
    opacity: 0.6;
    transition: 0.5s;
}
footer {
    padding-top: 5%;
}
.footer-text {
    display: flex;
    justify-content: space-around;
}
.footer-text h1 {
    font-size: 52px;
}
.footer-text h2 {
    font-size: 18px;
    padding: 10% 0;
}
.footer-text h2:hover {
    text-decoration: underline;
}
.footer-text a {
    text-decoration: none;
    color:rgba(29, 27, 25, 1);
}
footer h3 {
    font-size: 16px;
    padding: 5% 0 3% 3%;
}
@media screen and (max-width: 1023px) {
    .page-1 {
        flex-direction: column;
        align-items: center;
    }
    .page-1-text {
        padding-right: 0;
    }
    .white-dress {
        padding-bottom: 5%;
    }
    .page-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-2-title {
        width: 80%
    }
    .page-2-gallery {
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .photo-3 {
        padding: 3% 0;
        align-self: center;
    }
    .page-3 img {
        width: 33%;
    }
    .page-3-text h1 {
        font-size: 40px;
    }
    .page-4 {
        max-width: 100%;
        flex-direction: column;
    }
    .page-4-text {
        max-width: 90%;
    }
    .page-4 img {
        max-width: 45%;
    }
    .page-5 h1 {
        text-align: center;
    }
    .page-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-6-text {
        text-align: center;
    }
    .page-6-text img {
        max-width: 48px;
    }
    .page-6-gallery {
        max-width: 50%;
        flex-direction: column;
    }
    .page-6-gallery img {
        padding: 2%;
    }
}
@media screen and (max-width: 599px) {
    header {
        padding: 5%;
    }
    .title h1 {
        font-size: 40px;
        padding: 0 20px;
    }
    .nav h2, .menu h2 {
        font-size: 10px;
    }
    .white-dress {
        width: 100%;
    }
    .page-1-text h1 {
        font-size: 40px;
    }
    .page-1-text h2 {
        font-size: 20px;
    }
    .page-1 {
        padding-bottom: 20%;
    }
    .page-2-title h1 {
        font-size: 30px;
    }
    .page-2-title h2 {
        font-size: 18px;
    }
    .page-2-gallery {
        text-align: center;
    }
    .page-3 {
        max-height: 500px;
    }
    .page-3-text {
        padding: 0 5%;
    }
    .page-3-text h1 {
        font-size: 30px;
    }
    .page-4-text {
        padding-bottom: 5%;
    }
    .page-4-text h1 {
        font-size: 35px;
    }
    .page-4-text h2 {
        font-size: 20px;
    }
    .page-5 h1 {
        font-size: 45px;
        text-align: center;
    }
    .newsletter {
        width: 80%;
    }
    .page-6 {
        padding: 0 5%;
    }
    .page-6-text a {
        font-size: 35px;
    }
    footer {
        padding: 5% 5%;
    }
    .footer-text h1 {
        font-size: 40px;
    }
    .footer-menu h2, .footer-contact h2, .footer-documents h2 {
        font-size: 12px;
        padding: 3%;
    }
    footer h3 {
        font-size: 10px;
    }
}